title: HRW
description: >-
  WORK IN PROGRESS
url: "https://heruzinyo.github.io"
lang: pt-BR

sass:
  style: compressed

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - README.md
  - profile/
