@font-face {
  font-display: swap;
  font-family: 'Tiny5';
  font-style: normal;
  font-weight: 400;
  src: url($tiny5) format('woff2');
}

body {
  font-family: "Tiny5", monospace;
  font-size: 2rem;
  background-color: oklch(1 0 0);
  color: oklch(0 0 0);
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

p {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  img {
    display: block;
    width: auto;
    height: 25vh;
    image-rendering: pixelated;
  }
}